fastapi
uvicorn
scikit-learn
pandas
openpyxl
numpy
joblib
python-multipart
sentence-transformers
torch --index-url https://download.pytorch.org/whl/cpu
huggingface_hub
openai>=1.30.0
xgboost
python-dotenv
httpx
groq